BITESHIP_WEBHOOK_HEADER=x-biteship-webhook-secret
BITESHIP_WEBHOOK_SECRET=

DOKU_BASE_URL=https://api-sandbox.doku.com
DOKU_CLIENT_ID=
DOKU_SECRET_KEY=
DOKU_PAYMENT_DUE_MINUTES=60
DOKU_TIMEOUT_MS=45000
DOKU_NOTIFICATION_URL=
DOKU_NOTIFICATION_PATH=
DOKU_CALLBACK_BASE_URL=
