NODE_ENV=localhost

APP_PORT=3001
APP_URL=https://api.mraenmimpi.com
APP_ORIGIN=https://www.mraenmimpi.com
APP_SECRET=rumah-literasi

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=rumah_literasi
DB_USERNAME=user
DB_PASSWORD=password

MAIL_USER=komunitasliterasi@mraenmimpi.com
MAIL_PASS=Sampulmen123!
MAIL_HOST=sandbox.smtp.mailtrap.io
# MAIL_PORT=465
MAIL_PORT=2525
ACTIVATE_EMAIL=true
NODEMAILER_FROM="Rumah Literasi <komunitasliterasi@mraenmimpi.com>"

SHIPMENT_MODE=safe
ACTIVATE_PAYMENT=true
MIDTRANS_MERCHANT_ID=G168883355
MIDTRANS_CLIENT_KEY=SB-Mid-client-bV4g2ykHdur0uJEU
MIDTRANS_SERVER_KEY=SB-Mid-server-Dr4IM5UgQ53_sMbAu1pFLYGN
#MIDTRANS_CLIENT_KEY=Mid-client-zfVTqzx_si95LRJG
#MIDTRANS_SERVER_KEY=Mid-server-zsMP2-vJdugqyJX0Ot4ume53x
MIDTRANS_API_URL=https://app.sandbox.midtrans.com/snap/v1/
#MIDTRANS_API_URL=https://app.midtrans.com/snap/v1
MIDTRANS_CALLBACK_URL=https://api.mraenmimpi.com/api/payment/callback

BITESHIP_API_URL=https://api.biteship.com/v1
BITESHIP_API_KEY=biteship_test.eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1lIjoidGVzdGluZyIsInVzZXJJZCI6IjY4NGYyYTBhNDExZjgxMDAxMjQwZjU0YiIsImlhdCI6MTc3NzYzNzg4MH0.UuIKXTbMvIPDvhRi0mPQfkRi6muo3cqbsSII7qJQmf4
#BITESHIP_API_KEY=biteship_live.eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1lIjoicnVtYWgtbGl0ZXJhc2kiLCJ1c2VySWQiOiI2ODRmMmEwYTQxMWY4MTAwMTI0MGY1NGIiLCJpYXQiOjE3NzQ3ODU4NzV9.3S1cLWNbsj885YfzZ5AI21iH299Keq6igXFHriKhfUA
BITESHIP_API_COURIER=jnt,anteraja,idexpress,tiki,ninja,jne

MERCHANT_NAME="Rumah Literasi"
MERCHANT_PHONE=08123456789
MERCHANT_EMAIL=admin@rumahliterasi.com
MERCHANT_ADDRESS="Lapangan Merdeka, Jalan Lapangan Monas, Gambir, Jakarta Pusat"
MERCHANT_ZIPCODE=10110
MERCHANT_AREA_ID=IDNP6IDNC147IDND829IDZ10110
MERCHANT_LATITUDE=-6.1754
MERCHANT_LONGITUDE=106.8272


ini udah cukup belum buat running di localhost 